<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | escape }} | {{ site.title }}</title>
  {%- seo -%}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
</head>
<body>
  <div id="wrapper">
    {% include header.html %}
    <div id="main">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
</body>
</html>
